!!!
%html{html_attrs}
  %head
    %meta{:'http-equiv' => "Content-Type", :content => "text/html; charset=utf-8"}
    = yield_content :title
    = yield_content :description
    = yield_content :keywords
    %meta{:name => "lang", :content => "en"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = partial :_styles
  %body
    = partial :_nav_main
    .container.main-content
      = yield
    = partial :_analytics
    = partial :_scripts